<%-include("../partials/adminheader")-%>

        <section class="content-main">
            <div class="row">
                <div class="col-9">
                    <div class="content-header">
                        <h2 class="content-title">Add New Product</h2>
                        <div>
                            <!-- <button class="btn btn-light rounded font-sm mr-5 text-body hover-up">Save to draft</button> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4>Basic</h4>
                        </div>
                        <div class="card-body">
                            <form action="/admin/addproduct" method="post" enctype="multipart/form-data">
                                <div class="mb-4">
                                    <label for="product_name" class="form-label">Product Name</label>
                                    <input type="text"placeholder="Type here" class="form-control" id="product_name" name="name">
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Description</label>
                                    <textarea placeholder="Type here" class="form-control" rows="4" name="description"></textarea>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="mb-4">
                                            <label class="form-label"> price</label>
                                            <div class="row gx-2">
                                                <input placeholder="Rs." type="text" class="form-control" name="price">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="mb-4">
                                            <label class="form-label">Selling price</label>
                                            <input placeholder="Rs." type="text" class="form-control" name="sellingprice">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="mb-4">
                                            <label class="form-label">Size</label>
                                            <select class="form-select" name="size">
                                                <option> S </option>
                                                <option> M </option>
                                                <option> L </option>
                                                <option> X </option>
                                                <option> XL </option>
                                                <option> XXL </option>
                                                <option> Free Size </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="mb-4">
                                            <label class="form-label">Brand</label>
                                            <select class="form-select" name="brand">
                                                <option> fwd </option>
                                                <option> soch </option>
                                                <option> aurelia </option>
                                                <option> forever 21 </option>
                                                <option> nike </option>
                                                <option> puma </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="mb-4">
                                            <label class="form-label">Stock</label>
                                            <input placeholder="Type here" type="text" class="form-control" name="stock">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="mb-4">
                                            <label class="form-label">Colour</label>
                                            <input placeholder="Type here type="text" class="form-control" name="colour">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="mb-4">
                                            <label class="form-label">Type</label>
                                            <select class="form-select" name="type">
                                                <option> Ethinic </option>
                                                <option> Western </option>
                                                <option> Sports </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <!-- for images -->
                                <div class="col-lg-6">
                                    <div class="card mb-4">
                                        <div class="card-header">
                                            <h4>Media</h4>
                                        </div>
                                        <div class="card-body">
                                            <div class="input-upload">
                                                <img src="/admin-assets/imgs/theme/upload.svg" alt="">
                                                <input
                                                type="file"
                                                id="productImage"
                                                name="images"
                                                accept="image/*"
                                                multiple
                                                required
                                              />
                                            </div>
                                        </div>
                                    </div> <!-- card end// -->
                                    <div class="card mb-4">
                                        <div class="card-header">
                                            <h4>Organization</h4>
                                        </div>
                                        <div class="card-body">
                                            <div class="row gx-2">
                                                <div class="col-sm-6 mb-3">
                                                    <label class="form-label">Category</label>
                                                    <select class="form-select" name="category">
                                                        <option> Saree </option>
                                                        <option> kurthie </option>
                                                        <option> Lehanga </option>
                                                        <option> Tops </option>
                                                        <option> Jeans </option>
                                                        <option> Pants </option>
                                                        <option> Tracksuit </option>
                                                        <option> Sports bra </option>
                                                        <option> Tights </option>
                                                    </select>
                                                </div>
                                                
                                            </div> <!-- row.// -->
                                        </div>
                                    </div> <!-- card end// -->
                                </div>
                            <button type="submit" class="btn btn-md rounded font-sm hover-up">Publish</button>
                            </form>
                        </div>
                    </div> <!-- card end// -->
                </div>
                
            </div>
        </section> <!-- content-main end// -->

<%-include("../partials/adminfooter")-%>


